.about-section{
    padding-top: 128px;
    padding-bottom: 64px;
    .section-container{
        .about__image{
            flex: 0 0 40%;
            margin-right: 50px;
            img{
                border-radius: 8px;
            }
        }
        .about__info{
            flex: 0 0 42%;
            h6{
                color: $greenColor;
                line-height: 1.6;
                margin-bottom: 8px;
            }
            .section__subtitle{
                margin-bottom: 32px;
            }
            .section__description{
                margin-bottom: 24px;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .about-section{
        .section-container{
            .about__image{
                flex: 0 0 48%;
                margin-right: 0;
            }
            .about__info{
                flex: 0 0 48%;
            }
        }
    }
}

@media screen and (max-width: 468px){
    .about-section{
        padding-top: 64px;
        padding-bottom: 32px;
        .section-container{
            .about__image{
                flex: 0 0 65%;
                order: 2;
                margin: auto;
            }
            .about__info{
                flex: 0 0 100%;
                margin: auto;
                text-align: center;
                order: 1;
                margin-bottom: 30px;
                .section__subtitle{
                    font-size: 24px;
                    max-width: 50%;
                    margin: auto;
                    margin-bottom: 24px;
                }
            }
        }
    }
}

@media screen and (max-width: 325px) {
    .about-section{
        .section-container{
            .about__image{
                flex: 0 0 100%;
            }
            .about__info{
                .section__subtitle{
                    max-width: 95%;
                }
            }
        }
    }
}