.application-section{
    padding-top: 128px;
    padding-bottom: 64px;
    .section-container{
        .application__image{
            flex: 0 0 40%;
        }
        .application__info{
            flex: 0 0 44%;
            h6{
                color: $greenColor;
                line-height: 1.6;
                margin-bottom: 8px;
            }
            .section__subtitle{
                margin-bottom: 24px;
            }
            .section__description{
                margin-bottom: 40px;
            }
            a{
                display: inline-flex;
                align-items: center;
                max-width: 29%;
                margin-right: 8px;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .application-section{
        .section-container{
            .application__image{
                flex: 0 0 48%;
            }
            .application__info{
                flex: 0 0 48%;
            }
        }
    }
}

@media screen and (max-width: 468px) {
    .application-section{
        padding-top: 64px;
        padding-bottom: 32px;
        .section-container{
            .application__image{
                order: 2;
                margin: auto;
            }
            .application__info{
                order: 1;
                margin: auto;
                text-align: center;
                flex: 0 0 100%;
                margin-bottom: 30px;
                .section__subtitle{
                    font-size: 24px;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .application-section{
        .section-container{
            .application__image{
                flex: 0 0 100%;
            }
            .application__info{
                a{
                    max-width: 40%;
                }
            }
        }
    }
}