.contact-section{
    padding-top: 128px;
    padding-bottom: 64px;
    .section-container{
        .contact__info{
            flex: 0 0 62%;
            h6{
                color: $greenColor;
                line-height: 1.6;
                margin-bottom: 8px;
            }
            .section__subtitle{
                margin-bottom: 24px;
            }
        }
        .contact__button{
            margin: auto;
        }
    }
}