footer{
    padding-top: 128px;
    padding-bottom: 30px;
    .section-container{
        align-items: flex-start;
        .footer__item{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex: 0 0 23%;
            .logo{
                color: $greenColor;
                font-size: 20px;
                line-height: 1.6;
                font-weight: 600;
            }
            span{
                color: $grayColor;
                font-size: 14px;
                line-height: 1.6;
                margin-bottom: 24px;
            }
            .social{
                a{
                    margin-right: 16px;
                    span{
                        font-size: 24px;
                        color: $blackColor;
                        transition: all 0.25s ease-in-out;
                        &:hover{
                            color: $greenColor;
                        }
                    }
                    
                }
            }
            .item__title{
                font-size: 24px;
                margin-bottom: 16px;
            }
            ul{
                list-style: none;
                padding: 0;
                margin: 0;
                li{
                    margin-bottom: 8px;
                    .item__link{
                        font-size: 16px;
                        font-weight: normal;
                        justify-content: flex-start;
                        &:hover{
                            color: $greenColor;
                        }
                    }
                }
            }
        }
        .copyright{
            color: $grayColor;
            flex: 0 0 100%;
            text-align: center;
            margin-top: 56px;
        }
        .developer{
            flex: 0 0 100%;
            text-align: center;
            margin-top: 30px;
            span{
                color: $greenColor;
            }
        }
    }
}

@media screen and (max-width: 768px){
    footer{
        .section-container{
            .footer__item{
                flex: 0 0 31%;
                margin-bottom: 24px;
                &:last-of-type{
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 468px) {
    footer{
        .section-container{
            .footer__item{
                flex: 0 0 100%;
            }
        }
    }
}

@media screen and (max-width: 325px) {
    footer{
        .section-container{
            .copyright{
                font-size: 14px;
                margin-top: 40px;
            }
            .developer{
                font-size: 14px;
            }
        }
    }
}