.services-section{
    padding-top: 128px;
    padding-bottom: 64px;
    .services__header{
        text-align: center;
        margin: auto;
        flex: 0 0 100%;
        h6{
            color: $greenColor;
            line-height: 1.6;
            margin-bottom: 8px;
        }
        .section__subtitle{
            margin-bottom: 60px;
        }
    }
    .services__item{
        flex: 0 0 28%;
        text-align: center;
        svg{
            fill: $greenColor;
            width: 64px;
            height: 64px;
            margin-bottom: 16px;
        }
        .section__description{
            font-weight: normal;
        }
        
    }
}