@font-face {
  font-family: 'Poppins';
  src: url("Fonts/poppins/Poppins.eot");
  src: url("Fonts/poppins/Poppins.eot?#iefix") format("embedded-opentype"), url("Fonts/poppins/Poppins.woff2") format("woff2"), url("Fonts/poppins/Poppins.woff") format("woff"), url("Fonts/poppins/Poppins.ttf") format("truetype"), url("Fonts/poppins/Poppins.svg#Poppins-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
:root {
  scroll-behavior: auto; }

body {
  background-color: #FBFEFD;
  font-family: 'Poppins', sans-serif; }

.container {
  max-width: 1024px; }

.section-container {
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
  width: calc(100% - 32px); }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

img {
  max-width: 100%; }

.button {
  border: none;
  color: #fff;
  background-color: #069C54;
  border-radius: 8px;
  padding: 12px 16px;
  transition: all 0.25s ease-in-out; }
  .button:hover {
    background-color: #048654; }

.section__subtitle {
  color: #393939;
  font-weight: bold;
  line-height: 1.6;
  font-size: 36px; }

.item__title {
  color: #393939;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  line-height: 1.6; }

.item__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #707070;
  transition: all 0.25s ease-in-out; }

.section__description {
  color: #707070;
  line-height: 1.6; }

.goup {
  position: fixed;
  right: 15px;
  bottom: 15px;
  font-size: 20px;
  padding: 5px 10px;
  opacity: 0;
  z-index: 1000000000;
  transition: all 0.3s ease-in-out; }

nav {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  background-color: #FBFEFD;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10000; }
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    nav .container .nav__logo a {
      color: #707070;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.25s ease-in-out; }
      nav .container .nav__logo a:hover {
        color: #069C54; }
    nav .container .nav__list .nav__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 0; }
      nav .container .nav__list .nav__menu .list__item {
        margin-right: 40px; }
        nav .container .nav__list .nav__menu .list__item .item__link.active, nav .container .nav__list .nav__menu .list__item .item__link:hover {
          color: #069C54; }
      nav .container .nav__list .nav__menu .icon-moon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #707070;
        cursor: pointer;
        transition: all 0.25s ease-in-out; }
        nav .container .nav__list .nav__menu .icon-moon:hover {
          color: #069C54; }
    nav .container .nav__toggle {
      display: none; }

@media screen and (max-width: 768px) {
  nav .container .nav__list .nav__menu {
    flex-direction: column;
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    width: 100%;
    border-radius: 0 0 16px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: top 0.5s ease-in-out; }
    nav .container .nav__list .nav__menu .list__item {
      margin-bottom: 15px; }
    nav .container .nav__list .nav__menu .icon-moon,
    nav .container .nav__list .nav__menu .icon-sun {
      position: absolute;
      right: 20px;
      top: 5px; }
  nav .container .nav__list .show-menu {
    top: 64px; }
  nav .container .nav__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; } }
header {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  header .section-container {
    justify-content: space-around; }
    header .section-container .home__intro {
      flex: 0 0 37%;
      transition: all 0.5s ease-in-out; }
      header .section-container .home__intro .intro__header {
        color: #069C54;
        font-size: 64px;
        font-weight: bold;
        margin-bottom: 8px;
        line-height: 1.6; }
      header .section-container .home__intro .section__subtitle {
        margin-bottom: 32px; }
    header .section-container .home__image {
      flex: 0 0 49%;
      transition: all 0.3s ease-in-out; }

@media screen and (max-width: 768px) {
  header .section-container .home__intro {
    flex: 0 0 47%; }
  header .section-container .home__image {
    flex: 0 0 39%; } }
@media screen and (max-width: 468px) {
  header {
    height: calc(100vh + 64px);
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    header .section-container .home__intro {
      flex: 0 0 100%;
      margin-bottom: 30px; }
      header .section-container .home__intro .intro__header {
        font-size: 36px; }
      header .section-container .home__intro .section__subtitle {
        font-size: 24px;
        max-width: 55%; }
    header .section-container .home__image {
      flex: 0 0 69%; } }
@media screen and (max-width: 375px) {
  header .section-container .home__intro .section__subtitle {
    max-width: 81%; }
  header .section-container .home__image {
    flex: 0 0 100%; } }
.about-section {
  padding-top: 128px;
  padding-bottom: 64px; }
  .about-section .section-container .about__image {
    flex: 0 0 40%;
    margin-right: 50px;
    transition: all 0.5s ease-in-out; }
    .about-section .section-container .about__image img {
      border-radius: 8px; }
  .about-section .section-container .about__info {
    flex: 0 0 42%;
    transition: all 0.5s ease-in-out; }
    .about-section .section-container .about__info h6 {
      color: #069C54;
      line-height: 1.6;
      margin-bottom: 8px; }
    .about-section .section-container .about__info .section__subtitle {
      margin-bottom: 32px; }
    .about-section .section-container .about__info .section__description {
      margin-bottom: 24px; }

@media screen and (max-width: 768px) {
  .about-section .section-container .about__image {
    flex: 0 0 48%;
    margin-right: 0; }
  .about-section .section-container .about__info {
    flex: 0 0 48%; } }
@media screen and (max-width: 468px) {
  .about-section {
    padding-top: 64px;
    padding-bottom: 32px; }
    .about-section .section-container .about__image {
      flex: 0 0 65%;
      order: 2;
      margin: auto; }
    .about-section .section-container .about__info {
      flex: 0 0 100%;
      margin: auto;
      text-align: center;
      order: 1;
      margin-bottom: 30px; }
      .about-section .section-container .about__info .section__subtitle {
        font-size: 24px;
        max-width: 50%;
        margin: auto;
        margin-bottom: 24px; } }
@media screen and (max-width: 375px) {
  .about-section .section-container .about__image {
    flex: 0 0 100%; }
  .about-section .section-container .about__info .section__subtitle {
    max-width: 95%; } }
.services-section {
  padding-top: 128px;
  padding-bottom: 64px; }
  .services-section .section-container .services__header {
    text-align: center;
    margin: auto;
    flex: 0 0 100%;
    transition: all 0.4s ease-in-out; }
    .services-section .section-container .services__header h6 {
      color: #069C54;
      line-height: 1.6;
      margin-bottom: 8px; }
    .services-section .section-container .services__header .section__subtitle {
      margin-bottom: 60px; }
  .services-section .section-container .services__item {
    flex: 0 0 28%;
    text-align: center;
    transition: all 0.4s ease-in-out; }
    .services-section .section-container .services__item svg {
      fill: #069C54;
      width: 64px;
      height: 64px;
      margin-bottom: 16px; }
    .services-section .section-container .services__item .section__description {
      font-weight: normal; }

@media screen and (max-width: 768px) {
  .services-section .section-container .services__item {
    flex: 0 0 31%; } }
@media screen and (max-width: 468px) {
  .services-section {
    padding-top: 64px;
    padding-bottom: 32px; }
    .services-section .section-container .services__header .section__subtitle {
      font-size: 24px; }
    .services-section .section-container .services__item {
      flex: 0 0 100%;
      margin-bottom: 30px; }
      .services-section .section-container .services__item:last-of-type {
        margin-bottom: 0; } }
@media screen and (max-width: 375px) {
  .services-section .section-container .services__item h4 {
    font-size: 16px; }
  .services-section .section-container .services__item .section__description {
    font-size: 14px; } }
.menu-section {
  padding-top: 128px;
  padding-bottom: 64px; }
  .menu-section .section-container {
    justify-content: space-evenly; }
    .menu-section .section-container .menu__header {
      text-align: center;
      margin: auto;
      flex: 0 0 100%;
      transition: all 0.4s ease-in-out; }
      .menu-section .section-container .menu__header h6 {
        color: #069C54;
        line-height: 1.6;
        margin-bottom: 8px; }
      .menu-section .section-container .menu__header .section__subtitle {
        margin-bottom: 60px; }
    .menu-section .section-container .menu__item {
      flex: 0 0 22%;
      border-radius: 8px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
      padding: 24px;
      position: relative;
      transition: all 0.4s ease-in-out; }
      .menu-section .section-container .menu__item img {
        margin-bottom: 16px; }
      .menu-section .section-container .menu__item .menu__title {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.6;
        color: #393939; }
      .menu-section .section-container .menu__item .menu__detail {
        color: #707070;
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 8px; }
      .menu-section .section-container .menu__item .menu__price {
        color: #393939;
        font-size: 14px; }
      .menu-section .section-container .menu__item button {
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 8px 0 8px 0;
        padding: 10px 13px;
        display: flex;
        justify-content: center;
        align-items: center; }

@media screen and (max-width: 768px) {
  .menu-section .section-container {
    justify-content: space-between; }
    .menu-section .section-container .menu__item {
      flex: 0 0 28%; } }
@media screen and (max-width: 468px) {
  .menu-section {
    padding-top: 64px;
    padding-bottom: 32px; }
    .menu-section .section-container .menu__header .section__subtitle {
      font-size: 24px; }
    .menu-section .section-container .menu__item {
      flex: 0 0 45%;
      margin-bottom: 43px; }
      .menu-section .section-container .menu__item:last-of-type {
        margin-bottom: 0; } }
@media screen and (max-width: 375px) {
  .menu-section .section-container .menu__item {
    flex: 0 0 100%; } }
.application-section {
  padding-top: 128px;
  padding-bottom: 64px; }
  .application-section .section-container .application__image {
    flex: 0 0 40%;
    transition: all 0.4s ease-in-out; }
  .application-section .section-container .application__info {
    flex: 0 0 44%;
    transition: all 0.4s ease-in-out; }
    .application-section .section-container .application__info h6 {
      color: #069C54;
      line-height: 1.6;
      margin-bottom: 8px; }
    .application-section .section-container .application__info .section__subtitle {
      margin-bottom: 24px; }
    .application-section .section-container .application__info .section__description {
      margin-bottom: 40px; }
    .application-section .section-container .application__info a {
      display: inline-flex;
      align-items: center;
      max-width: 29%;
      margin-right: 8px; }

@media screen and (max-width: 768px) {
  .application-section .section-container .application__image {
    flex: 0 0 48%; }
  .application-section .section-container .application__info {
    flex: 0 0 48%; } }
@media screen and (max-width: 468px) {
  .application-section {
    padding-top: 64px;
    padding-bottom: 32px; }
    .application-section .section-container .application__image {
      order: 2;
      margin: auto; }
    .application-section .section-container .application__info {
      order: 1;
      margin: auto;
      text-align: center;
      flex: 0 0 100%;
      margin-bottom: 30px; }
      .application-section .section-container .application__info .section__subtitle {
        font-size: 24px; } }
@media screen and (max-width: 375px) {
  .application-section .section-container .application__image {
    flex: 0 0 100%; }
  .application-section .section-container .application__info a {
    max-width: 40%; } }
.contact-section {
  padding-top: 128px;
  padding-bottom: 64px; }
  .contact-section .section-container .contact__info {
    flex: 0 0 62%;
    transition: all 0.4s ease-in-out; }
    .contact-section .section-container .contact__info h6 {
      color: #069C54;
      line-height: 1.6;
      margin-bottom: 8px; }
    .contact-section .section-container .contact__info .section__subtitle {
      margin-bottom: 24px; }
  .contact-section .section-container .contact__button {
    margin: auto;
    transition: all 0.4s ease-in-out; }

@media screen and (max-width: 468px) {
  .contact-section {
    padding-top: 64px;
    padding-bottom: 32px; }
    .contact-section .section-container .contact__info {
      flex: 0 0 100%;
      margin: auto;
      text-align: center;
      margin-bottom: 30px; }
      .contact-section .section-container .contact__info .section__subtitle {
        font-size: 24px; } }
footer {
  padding-top: 128px;
  padding-bottom: 30px; }
  footer .section-container {
    align-items: flex-start; }
    footer .section-container .footer__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex: 0 0 23%;
      transition: all 0.4s ease-in-out; }
      footer .section-container .footer__item .logo {
        color: #069C54;
        font-size: 20px;
        line-height: 1.6;
        font-weight: 600; }
      footer .section-container .footer__item span {
        color: #707070;
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 24px; }
      footer .section-container .footer__item .social a {
        margin-right: 16px; }
        footer .section-container .footer__item .social a span {
          font-size: 24px;
          color: #393939;
          transition: all 0.25s ease-in-out; }
          footer .section-container .footer__item .social a span:hover {
            color: #069C54; }
      footer .section-container .footer__item .item__title {
        font-size: 24px;
        margin-bottom: 16px; }
      footer .section-container .footer__item ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        footer .section-container .footer__item ul li {
          margin-bottom: 8px; }
          footer .section-container .footer__item ul li .item__link {
            font-size: 16px;
            font-weight: normal;
            justify-content: flex-start; }
            footer .section-container .footer__item ul li .item__link:hover {
              color: #069C54; }
    footer .section-container .copyright {
      color: #707070;
      flex: 0 0 100%;
      text-align: center;
      margin-top: 56px; }
    footer .section-container .developer {
      flex: 0 0 100%;
      text-align: center;
      margin-top: 30px; }
      footer .section-container .developer span {
        color: #069C54; }

@media screen and (max-width: 768px) {
  footer .section-container .footer__item {
    flex: 0 0 31%;
    margin-bottom: 24px; }
    footer .section-container .footer__item:last-of-type {
      margin-bottom: 0; } }
@media screen and (max-width: 468px) {
  footer .section-container .footer__item {
    flex: 0 0 100%; } }
@media screen and (max-width: 375px) {
  footer .section-container .copyright {
    font-size: 14px;
    margin-top: 40px; }
  footer .section-container .developer {
    font-size: 14px; } }
.dark-mode {
  background-color: #1D2521; }
  .dark-mode nav {
    background-color: #1D2521; }
    .dark-mode nav .container .nav__logo a {
      color: #C7D1CC; }
    .dark-mode nav .container .nav__list .nav__menu {
      background-color: #1D2521; }
    .dark-mode nav .container .icon-sun {
      color: #C7D1CC;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.25s ease-in-out; }
      .dark-mode nav .container .icon-sun:hover {
        color: #069C54; }
    .dark-mode nav .container .icon-bars {
      color: #fff; }
  .dark-mode .item__link {
    color: #C7D1CC; }
  .dark-mode .section__subtitle,
  .dark-mode .item__title {
    color: #F1F3F2; }
  .dark-mode .section__description {
    color: #C7D1CC; }
  .dark-mode .menu-section .section-container .menu__item {
    background-color: #27302C; }
    .dark-mode .menu-section .section-container .menu__item .menu__title,
    .dark-mode .menu-section .section-container .menu__item .menu__price {
      color: #F1F3F2; }
    .dark-mode .menu-section .section-container .menu__item .menu__detail {
      color: #C7D1CC; }
  .dark-mode footer .section-container .footer__item span {
    color: #C7D1CC; }
  .dark-mode footer .section-container .social a span {
    color: #C7D1CC; }
  .dark-mode footer .section-container .copyright,
  .dark-mode footer .section-container .developer {
    color: #C7D1CC; }

/*# sourceMappingURL=style.css.map */
