@font-face {
  font-family: 'Poppins';
  src: url("Fonts/poppins/Poppins.eot");
  src: url("Fonts/poppins/Poppins.eot?#iefix") format("embedded-opentype"), url("Fonts/poppins/Poppins.woff2") format("woff2"), url("Fonts/poppins/Poppins.woff") format("woff"), url("Fonts/poppins/Poppins.ttf") format("truetype"), url("Fonts/poppins/Poppins.svg#Poppins-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
body {
  background-color: #FBFEFD;
  font-family: 'Poppins', sans-serif; }

.container {
  max-width: 70%; }

.section-container {
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

img {
  max-width: 100%; }

.button {
  border: none;
  color: #fff;
  background-color: #069C54;
  border-radius: 8px;
  padding: 12px 16px;
  transition: all 0.25s ease-in-out; }
  .button:hover {
    background-color: #048654; }

nav {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  background-color: #FBFEFD;
  left: 0;
  right: 0;
  top: 0; }
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    nav .container .nav__logo a {
      color: #707070;
      display: flex;
      align-items: center;
      justify-content: center; }
    nav .container .nav__list ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 0; }
      nav .container .nav__list ul .list__item {
        margin-right: 40px; }
        nav .container .nav__list ul .list__item a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #707070;
          transition: all 0.25s ease-in-out; }
          nav .container .nav__list ul .list__item a.active, nav .container .nav__list ul .list__item a:hover {
            color: #069C54; }
      nav .container .nav__list ul .icon-moon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #707070;
        cursor: pointer;
        transition: all 0.25s ease-in-out; }
        nav .container .nav__list ul .icon-moon:hover {
          color: #069C54; }
    nav .container .nav__toggle {
      display: none; }

header {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  header .section-container {
    justify-content: space-around; }
    header .section-container .home__intro {
      flex: 0 0 37%; }
      header .section-container .home__intro .intro__header {
        color: #069C54;
        font-size: 64px;
        font-weight: bold;
        margin-bottom: 8px;
        line-height: 1.6; }
      header .section-container .home__intro .intro__caption {
        color: #393939;
        font-weight: bold;
        line-height: 1.6;
        font-size: 36px;
        margin-bottom: 32px; }
    header .section-container .home__image {
      flex: 0 0 49%; }

.about-section {
  padding-top: 128px;
  padding-bottom: 64px; }
  .about-section .about__image {
    flex: 0 0 40%;
    margin-right: 50px; }
    .about-section .about__image img {
      border-radius: 8px; }
  .about-section .about__info {
    flex: 0 0 42%; }
    .about-section .about__info h6 {
      color: #069C54;
      line-height: 1.6;
      margin-bottom: 8px; }
    .about-section .about__info h2 {
      color: #393939;
      font-weight: bold;
      line-height: 1.6;
      font-size: 36px;
      margin-bottom: 32px; }
    .about-section .about__info p {
      color: #707070;
      line-height: 1.6;
      margin-bottom: 24px; }

.services-section {
  padding-top: 128px;
  padding-bottom: 64px; }
  .services-section .services__header {
    text-align: center;
    margin: auto;
    flex: 0 0 100%; }
    .services-section .services__header h6 {
      color: #069C54;
      line-height: 1.6;
      margin-bottom: 8px; }
    .services-section .services__header h2 {
      color: #393939;
      font-weight: bold;
      line-height: 1.6;
      font-size: 36px;
      margin-bottom: 60px; }
  .services-section .services__item {
    flex: 0 0 28%;
    text-align: center; }
    .services-section .services__item svg {
      fill: #069C54;
      width: 64px;
      height: 64px;
      margin-bottom: 16px; }
    .services-section .services__item h4 {
      color: #393939;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 8px;
      line-height: 1.6; }
    .services-section .services__item p {
      color: #707070;
      line-height: 1.6;
      font-weight: normal; }

/*# sourceMappingURL=style.css.map */
