@import 'variables';

@font-face {
    font-family: 'Poppins';
    src: url('Fonts/poppins/Poppins.eot');
    src: url('Fonts/poppins/Poppins.eot?#iefix') format('embedded-opentype'),
        url('Fonts/poppins/Poppins.woff2') format('woff2'),
        url('Fonts/poppins/Poppins.woff') format('woff'),
        url('Fonts/poppins/Poppins.ttf') format('truetype'),
        url('Fonts/poppins/Poppins.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root{
    scroll-behavior: auto;
}

body{
    background-color: $bodyBackgroundColor;
    font-family: 'Poppins', sans-serif;
}



.container{
    max-width: 70%;
}

.section-container{
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:auto;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0
}

img{
    max-width: 100%;
}

.button{
    border: none;
    color: #fff;
    background-color: $greenColor;
    border-radius: 8px;
    padding: 12px 16px;
    transition: all 0.25s ease-in-out;
    &:hover{
        background-color: $darkGreenColor;
    }
}

.section__subtitle{
    color: $blackColor;
    font-weight: bold;
    line-height: 1.6;
    font-size: 36px;
}

.item__title{
    color: $blackColor;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    line-height: 1.6;
}

.item__link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $grayColor;
    transition: all 0.25s ease-in-out;
}

.section__description{
    color: $grayColor;
    line-height: 1.6;
}

.goup{
    position: fixed;
    right: 15px;
    bottom: 15px;
    font-size: 20px;
    padding: 5px 10px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}