nav{
    padding: 20px 0;
    position: fixed;
    width: 100%;
    background-color: $bodyBackgroundColor;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10000;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav__logo{
            a{
                color: $grayColor;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.25s ease-in-out;
                &:hover{
                    color: $greenColor;
                }
            }
        }
        .nav__list{
            ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0;
                padding: 0;
                .list__item{
                    margin-right: 40px;
                    .item__link{
                        &.active, &:hover{
                            color: $greenColor;
                        }
                    }
                }

                .icon-moon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $grayColor;
                    cursor: pointer;
                    transition: all 0.25s ease-in-out;
                    &:hover{
                        color: $greenColor;
                    }
                }
            }
        }
        .nav__toggle{
            display: none;
        }
    }
}

@media screen and (max-width: 768px){
    nav{
        .container{
            .nav__list{
                display: none;
            }
            .nav__toggle{
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }
    }
}