nav{
    padding: 20px 0;
    position: fixed;
    width: 100%;
    background-color: $bodyBackgroundColor;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10000;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav__logo{
            a{
                color: $grayColor;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.25s ease-in-out;
                &:hover{
                    color: $greenColor;
                }
            }
        }
        .nav__list{
            .nav__menu{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0;
                padding: 0;
                .list__item{
                    margin-right: 40px;
                    .item__link{
                        &.active, &:hover{
                            color: $greenColor;
                        }
                    }
                }

                .icon-moon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $grayColor;
                    cursor: pointer;
                    transition: all 0.25s ease-in-out;
                    &:hover{
                        color: $greenColor;
                    }
                }
            }
        }
        .nav__toggle{
            display: none;
        }
    }
}

@media screen and (max-width: 768px){
    nav{
        .container{
            .nav__list{
                .nav__menu{
                    flex-direction: column;
                    position: fixed;
                    top: -100%;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: #fff;
                    width: 100%;
                    border-radius: 0 0 16px 16px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    transition: top 0.5s ease-in-out;
                    .list__item{
                        margin-bottom: 15px;
                    }
                    .icon-moon,
                    .icon-sun{
                       position: absolute;
                       right: 20px;
                       top: 5px;
                    }
                }
                .show-menu{
                    top: 64px;
                }
            }
            .nav__toggle{
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }
    }
}